body {
    background-color: aliceblue;
}

.item {
    height: 100px;
    width: 150px;
    position: absolute;
    min-width: 150px;
    min-height: 100px;
    background-color: darkcyan;
}

.item:hover {
    cursor: grab;
}

.resizer {
    position: absolute;
    background-color: rgb(2, 2, 2);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 2;
    visibility: hidden;
}

.resizer.nw {
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -1px;
    right: -1px;
    cursor: ne-resize;
}

.resizer.sw {
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}

.resizer.se {
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}