#container {
    position: absolute;
    margin: 10px;
    width: 90%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    overflow-y: scroll;
    overflow-x: scroll;
}

#item {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(157, 245, 99);
    border: 2px solid rgba(136, 136, 136, .5);
    /*border-radius: 50%;*/
    touch-action: none;
    user-select: none;
    /* display: flex;
    justify-content: space-between; */
}

#item:active {
    background-color: rgba(168, 218, 220, 1.00);
}

#item:hover {
    cursor: grab;
    border-width: 3px;
}

.resizer {
    position: absolute;
    background-color: rgb(236, 5, 197);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 2;
    visibility: hidden;
}

.resizer.top-left {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resizer.top-right {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resizer.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resizer.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}