body {
    background-color: ivory;
    padding: 20px;
}

#div1 {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: #777;
    position: absolute;
}

#div2 {
    width: 100px;
    height: 100px;
    top: 150px;
    left: 200px;
    background: #777;
    position: absolute;
}

#div3 {
    width: 100px;
    height: 100px;
    top: 350px;
    left: 400px;
    background: #777;
    position: absolute;
}