* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    /* display: inline-block; */
}

.icon {
    display: block;
    z-index: 10000;
    animation: moveLeft 1s ease-in;
}

header {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.container {
    display: flex;
    width: 95%;
    max-width: 1200px;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}

img#imgHeader {
    display: block;
    height: 450px;
    /* To avoid the image miss quality */
    object-fit: cover;
    width: auto;
    animation: moveUp 1s ease-in;
}

.texts {
    width: 50%;
    color: aliceblue;
}

.texts h1 {
    font-size: 80px;
    animation: moveRigth 1s ease-in;
}

.texts h2 {
    animation: moveLeft 1s ease-in;
}

.texts a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0px;
    animation: moveUp 1s ease-in;
}

.texts a:hover {
    background-color: #fff;
    color: #f7797d;
}

.texts a:active {
    border: 1px solid rgb(114, 231, 231);
}


/* WAVE */

.wave {
    width: 100%;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* ANIMATIONS */

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRigth {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/* CIRCLE */

.linkers {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.one {
    clip-path: circle(0% at 0% 0%);
}

.two {
    clip-path: circle(150% at 0% 0%);
}


/* Responisve design */


/* When the 1000px be broken */

@media screen and (max-width:1000px) {
    img#imgHeader {
        height: 300px;
    }
}

@media screen and (max-width:800px) {
    img#imgHeader {
        height: 250px;
    }
    .texts h1 {
        font-size: 40px;
        /* animation: moveRigth 1s ease-in; */
    }
    .texts h2 {
        font-size: 17px;
    }
    .linkers a {
        /* background: sandybrown; */
        width: 95%;
        height: 60px;
        text-align: center;
        border-bottom: 2px solid #fff;
        text-shadow: 200;
        font-weight: bold;
        padding: 10px;
    }
}

@media screen and (max-width:700px) {
    img#imgHeader {
        height: 150px;
    }
    .texts h1 {
        font-size: 30px;
        /* animation: moveRigth 1s ease-in; */
    }
    .texts h2 {
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    img#imgHeader {
        height: 150px;
    }
    .texts h1 {
        font-size: 20px;
        /* animation: moveRigth 1s ease-in; */
    }
    .texts h2 {
        font-size: 10px;
    }
    .texts a {
        /* display: inline-block;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-top: 30px;
        border: 1px solid #fff; */
        width: 100px;
        /* border-radius: 3px;
        text-align: center;
        padding: 10px 0px;
        animation: moveUp 1s ease-in; */
        font-size: 10px;
    }
}

@media screen and (max-width:350px) {
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .container>* {
        margin: 10px;
    }
    img#imgHeader {
        height: 200px;
    }
    .texts h1 {
        text-align: center;
        font-size: 25px;
        /* animation: moveRigth 1s ease-in; */
    }
    .texts h2 {
        font-size: 10px;
    }
    .texts a {
        /* display: inline-block;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-top: 30px;
        border: 1px solid #fff; */
        width: 100px;
        /* border-radius: 3px;
        text-align: center;
        padding: 10px 0px;
        animation: moveUp 1s ease-in; */
        font-size: 10px;
    }
}