$primary:rgb(65, 49, 71);
$primary-darken:rgb(28, 21, 31);
$secundary:rgb(48, 181, 214);
$secundary-darken:rgb(31, 139, 167);
$light:rgb(255, 255, 255);
$light-darken:rgb(195, 195, 195);
$primaryText: rgb(60, 52, 68);
$primaryPara: rgb(162, 160, 163);
$test:rgb(41, 194, 67);