@import 'shared';

#advanced-statistics{
    background-color: rgb(233, 233, 233);
    padding: 150px 30px 30px 30px;
    min-height: 350px;
    #text-main{
        text-align: center;
        margin-bottom: 70px;
        h2{
            font-size: 20px;
            color: $primaryText;
        }
        p{
            margin-top: 20px;

            color: $primaryPara;
        }
    }

    /* CARDS */

    #cards{
        position: relative;                
        width: 80%;
        margin: auto;
        #line-connector{    
            position: absolute;
            margin-top: 6%;                    
            width: 100%;
            height: 10px;
            background-color: $secundary;            
        }

        #cards-container{                        
            display: flex;
            justify-content: space-between;

            .card{
                z-index: 1;
                min-height: 180px;
                padding:30px;
                width: 25%;
                background-color: $light;
                border-radius: 4px;

                .circle-card{                    
                    width: 30%;
                    height: 40%;
                    text-align: center;                                           
                    color: $secundary;                    
                    font-size: 20px;
                    border-radius: 50%;
                    margin-top: -20%;
                    background-color: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;                   
                }

                .card-text{
                    padding: 20px;
                    h5{
                        font-size: 20px;
                        color: $primaryText;
                        margin-bottom: 3px;
                    }
                    p{color: $primaryPara;}
                }
                
            }
        }
    }
}