body {
    background-color: rgb(218, 66, 97);
}

.container {
    width: 90%;
    height: 100vh;
    margin: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.empty {
    /* display: inline-block; */
    width: 160px;
    height: 160px;
    margin: 10px;
    border: solid 1px #000;
    background-color: aliceblue;
}

.fill {
    background-image: url('https://picsum.photos/150/150');
    position: relative;
    height: 150px;
    width: 150px;
    left: 5px;
    top: 5px;
    cursor: grab;
}

.hold {
    border: solid 4px rgb(36, 228, 154);
}

.hovered {
    border: solid 3px rgb(131, 201, 61);
    border-style: dashed;
}

.invisible {
    /* visibility: hidden; */
    /* opacity: 0; */
}